qt5-default
qtbase5-dev
qtdeclarative5-dev
qml-module-qtquick-controls
qml-module-qtquick-dialogs
qml-module-qtquick2
qml-module-qtlocation
qml-module-qtpositioning
qml-module-qtgraphicaleffects
qml-module-qtquick-controls2
qml-module-qtquick-layouts
qml-module-qtcharts
qml-module-qtquick-shapes
qml-module-qt-labs-platform
qml-module-qt-labs-folderlistmodel
gstreamer1.0-plugins-base
gstreamer1.0-plugins-good
gstreamer1.0-plugins-bad
gstreamer1.0-plugins-ugly
gstreamer1.0-libav
gstreamer1.0-alsa
gstreamer1.0-tools
libgstreamer-plugins-base1.0-dev
libgstreamer1.0-dev
git
cmake
build-essential
